
<h2>Search Machine</h2>

<p>H&#228;r vill jag ber&#228;tta om intrycket och detaljera mer min Objetiv</p>
<p>
    Jag anv&#228;nde ASP.NET Core Template Knockoutjs
    En unik kontroll api som svarar med resultat f&#246;r varje ord (C#)</p>
<ul>
    <li><strong>Koden skriven i C#</strong> Krav p&#229; Search Machine</li>
    <li><strong>Tv&#229; eller flera s&#246;ktj&#228;nster.</strong> I princip verkar det l&#228;tt att v&#228;lja s&#246;ktj&#228;nst, men efter att ha b&#246;rjat g&#229; in i detaljerna i varje av API: erna eller "How to" f&#246;r varje tj&#228;nst har jag b&#246;rjat kassera alternativ enligt deras egna krav och begr&#228;nsningar, till exempel:
        Gratis version vs Kommersiell version.
        API vs andra alternativ (JSON / XML / HTML).
        Maximalt antal samtal och det maximala antalet mottagna resultat.

        P&#229; grund av det har jag best&#228;mt mig f&#246;r att anv&#228;nda s&#246;ktj&#228;nsterna som enligt min mening var mer tillr&#228;ckliga f&#246;r att slutf&#246;ra uppgiften.
        Google, Bing, Ecosia (Bing), GogoDuck (inte optimal),</li>
    <li><strong>Jag anv&#228;nde ASP.NET Core Template Knockoutjs</strong>. Du beh&#246;ver inte ens ladda om sidan efter att ha gjort de flesta &#228;ndringar. Inom n&#229;gra sekunder efter att du sparat &#228;ndringar i filer, kommer din Knockout-app att byggas om och en ny instans sprutas in p&#229; sidan.</li>
    <li><strong>En unik API kontroller  som svarar med resultat f&#246;r varje ord (C#)</strong> API-kontrollern &#228;r det mest optimala alternativet f&#246;r att garantera separationen mellan klientdelen och servern, API-kontrollern kan f&#246;rbrukas fr&#229;n n&#229;got annat alternativ f&#246;r klientdelen.</li>
</ul>
